<div class="container">
    <div class="row">
        <button class="btn btn-primary" (click)="back()" style="width: 100px;">Back</button>
    </div>
    <div class="row">
        @if(product){
            <div class="card mt-5" style="width: 18rem;">
                <img src="{{product.images[0]}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{product.title}}</h5>
                  <p class="card-text">{{product.description}}</p>
                  <a href="#" class="btn btn-primary">Kupi</a>
                </div>
              </div>
        }
    </div>
</div>
